@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');

body{
  font-family: 'Open Sans', sans-serif;
}

.principal{
  background: #FF8578;
}
.secondary{
  background: #50D5D9;
}
.card{
  border-radius: 7px;
}
.button{
  border: none;
}
.menu .button{
 margin-left:10px;
}
.aside-menu{
  background: #FFAD7A;
  height:100vh;
  padding: 2%;
}
.box{
  padding: 2%;
}
.profile-image{
  width:200px;
  margin: 0 auto;
}